{
  "subnameRegistryContractAddress": "2dmJdafAQxz8iQfBdRPwjFpgKSGWphPz9WTgq51jo5CURR6JvpBFjsGDMFFd23kDMoy2mDg1CF74ywf65RgxQAEbfbwRUeYdhfqhoHQ7hy5xv1Go5wvfqv3mLVQZLto2MTocNit7gYL5RGEdQyiLEYtNHDLWe6haGgEWUPbdHgC2EHFeiYx84LRUmoZfe1fwhYLyLE2GLep9m9ykc4cLxrTqnZNhXwpQQFUjVVaFfk82weendtcAPRT9aKxMdmE4ayX4jcqCiihdNvQVRkUtdRaVLhqN4QLXcxCjY1PTXz1MkyYD9bvQm1AkpkStkG3GeVyK4JdDc2gZeaRkgiGLmJdY4pmU6nVerxCcbP9wTn2duJvGtrVbKyktt6CAoH1UzqbWJiVpJrBmzr6VyGyjowD1eub9rfy18kdxgo7pzwM6KYwU8MXdHcraR6RrjFXzKx7tYowhodLJUkHFTYNz5agZH3xo8FenF8bb7UEuRznSdWBaH1H3VCmDTLCASt9ksNCTufKeastqWn89HGJhE42M77MW9ukWAN5ZsYSS7BawiEDqjWrG2xdML8ETYowxcLZTGvjMbGsstuegbZLv2GvBWWUwNFTRurJXqMVGiLMRSEVYW3QrYEXRv1h8zamvHkWfpLjXfo1sfM3tFUjXJAbaTnA4ZHoAQeAkW12Ar7QwRuAPExmDd6sUa1zmQorTk9NgBbpYGd6tN2ZJXxCAmwXkqx8UtUTsx8hALjsHJoQATzs8ENz2Bupm1fb6uBXS5SufxdGRQY2wdwWRbBsW198UQguw6hQA8LnKCJ5M6aYpnuKMFWG9Q",
  "issuerContractAddress": "KndFrMvs8Qgh7GpQqrju5yKdMGY27fjUuqtTwyDSYnoo3qbVR9GHryEAjSkPHFyCoJC3ip5oBWgub6ocV1r6o7LgwL9fu8i9eCq257bQBVRH6aRcxEdDPp6Hx9Bn5eBYZx83Z7AesHw7xbJMvkMe9UVgzXLe7LDSvNtcY72KnmP63HUsAafSmaEctSVx9s9w1HVzdWpxPPiRTGskT45QkQ3kyAzhC262SXyv1mtS8U2c45EutMDFcBnTLVyNsFp97KBJ2J43YpA5QJ2mSA6mB5MuBU2VVuLJkq5UJuxnDSSJK9hpwujYqYfdUx2wsCZZzyx3LoQcktvvKbF2JKiR4UEE6qMZAq9qhsJTVS9Gqb2aWPb",
  "feeContractAddress": "gG26HJgKkZTF8Lsvt4JXWBTbooibksoFirYXPAhZd1oJYz6BBa9iRx867RJetBKgZfZAurXnSTgpwuMoF3RCAabY9vtHbiiqsHNFYccPrTkeEMoToMjTGCRzq",
  "configContractAddress": "gG26HJgKkZTF8Lsvt4JXWBTbooibksoFirYXPAhZd1oJYz6BBa9iRx867RJetBKgZfZAurXnSTgpwuMoF3RCAabY9vtHbiiqsHNFYccPrTkeEMoToMjTGCRzq",
  "configSingletonTokenId": "e0309d2d2948098814b8635a2ba4c8d98918a60bb81b10a81c13e97b9d323ec2",
  "sigUsdOracleSingletonTokenId": "e0309d2d2948098814b8635a2ba4c8d98918a60bb81b10a81c13e97b9d323ec2",
  "singletonTokenId": "2d61b4c9ef490484434ced7fabe4bc1204c992103d08825e615a2fcedee5c685",
  "minCommitBoxAge": 1,
  "maxCommitBoxAge": 300
}